body{
  margin: 0;
  padding: 20px;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}
div.main{
  margin: 0;
  padding: 20px;
  position: relative;
  background-color: #eee;
  border:1px solid #ccc;
  height: 100%;
  min-width: 800px;
}
div.left{
  width: 158px;
  margin: 0;
  padding: 20px;
  position: absolute;
  top:20px;
  left:20px;
  border:1px solid #ccc;
  background-color: #fff;
}
div.left img{
  width: 81px;
  height: 81px;
  float: left;
  border: 1px solid #ccc;
}
div.left span{
  float: right;
}
div.content{
  margin-left:220px;
  border:1px solid #ccc;
  padding: 20px;
  background-color: #fff;
  margin-right: 140px;
}
div.content p{
  text-indent: 2em;
}
div.right{
padding:20px;
background-color:#fff;
width: 80px;
float:right;
position: absolute;
top:20px;
right:20px;
}
div.right ul,div.right li{
  list-style: none;
  padding: 0;
  margin: 0;
}
div.right ul>li{
  margin:20px 0 0 0;
}
div.right img{
  width: 81px;
  height: 81px;
  border: 1px solid #ccc;
}
